
.myAppoinment_container p{
    margin: 0;
  }
  .myAppoinment_container{
      background: #f9f9f9;
  }
    .myAppoinment_main {
      /* width: 80%; */
      background: white;
      border-radius: 0.75rem;
      position: relative;
      top: -1.75rem;
      padding: 40px 30px 10px 30px;
      margin: -30px auto 0 auto;
    }
  
    .myAppoinment_head{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    /* ================= appoinmentFilter ===========*/

    .appoinmentFilter{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .addAppoint_Btn{
        padding: 8px;
        font-size: 12px;
        color: #222222;
        font-weight: 500;
        border: 1px solid #E5E5E5;
        border-radius: 15px;
        cursor: pointer;
        width: fit-content;
        margin-left: auto;
    }
    .addAppoint_Btn:hover{
        color: #128454;
    }

    .appoinmentFilter .filterWraper{
        position:relative;
        background-color: white;
        border: 1px solid rgba(102, 102, 102, 0.2);
        border-radius: 1.25rem;
        font-weight: 300;
        color: #000000;
        font-size: 12px;
        padding: 5px 14px;
        width: 150px;
        cursor: pointer;
      }
      .appoinmentFilter .filterWraper .filtrName{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .appoinmentFilter .filterWraper .filtrName>p{
        font-size: 12px;
        color: #111111;
        font-weight: 500;
      }
      .filterWraper .filter_dropdown{
        position: absolute;
        width: 100%;
        left: 0;
        top:100%;
        padding: 5px 0;
        border:1px solid #E5E5E5;
        background-color: white;
        border-radius: 5px;
        z-index: 99;
      }
      .iconRotateDrop{
        rotate: 180deg;
      }
      .filterWraper .filter_dropdown>p{
          font-size: 12px;
          color: #111111;
          padding: 5px;
          font-weight: 500;
      }
      .filterWraper .filter_dropdown>p:hover{
        background-color: rgb(238, 238, 238);
        cursor: pointer;
      }
      .filtrName>svg{
        font-size: 26px;
        color: rgba(0, 0, 0, 0.54);
        transition: 0.2s ease;
      }
      .leadsExchange_Icon{
        font-size: 12px;
        transform: rotate(90deg);
        color: rgba(0, 0, 0, 0.54);
      }
      .apooinTable_icon{
        width: fit-content;
        padding: 5px 10px;
        cursor: pointer;
      }
      .apooinTable_icon>svg{
        font-size: 15px;
      }

      .appont_todayTable .mainTable_container tbody tr:nth-child(odd){
        background-color: rgba(250, 215, 215, 0.7) !important;
      }
      .addAppoin_table{
        margin: 15px 0;
      }
      .addAppoin_table h4{
        font-size: 16px;
        font-weight: 600;
        text-align: start;
      }

      .addAppoin_table h4 span{
        color: #999999;
      }
      .addTable_appoint{
        width: 100%;
      }
      .masterAppoinChoose_ope{
        display: flex;
        align-items: center;
        gap: 15px;
        width: fit-content;
        margin-left: auto;
      }
      .masterAppoinChoose_ope>p{
        font-size: 13px;
        color: #222222;
      }
      .masterAppoinChoose_ope>div{
        width: 120px;
      }
      .masterAppoinChoose_ope .filterWraper{
        position:relative;
        background-color: white;
        border: 1px solid rgba(102, 102, 102, 0.2);
        border-radius: 1.25rem;
        font-weight: 300;
        color: #000000;
        font-size: 12px;
        padding: 5px 14px;
        width: 150px;
        cursor: pointer;
      }
      .masterAppoinChoose_ope .filterWraper .filtrName{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .masterAppoinChoose_ope .filterWraper .filtrName>p{
        font-size: 12px;
        color: #111111;
        font-weight: 500;
      }
      
/*  delete confirm box   */
.deleteModal{
  position: fixed;
 top: 0;
 left: 0;
 background-color: #00000079;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 100vh;
}

.deleteconfilrmBox{
  background-color: #128454;
  transition: 0.3s ease;
  width: 30%;
  border-radius: 10px;
}
.deleteconfilrmBox>h5{
  font-size: 17px;
  font-weight: 600;
  padding: 15px 10px 10px 10px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  
}

.deletBoxContent{
  background-color: white;
  border-radius: 10px;
  padding:20px 25px;
  text-align: start;
}
.deletBoxContent>p{
  font-size: 13px;
  font-weight: 500;
  color: gray;
}
.deletBoxContent>p>span{
  font-weight: 700;
  color: #000000;
}

.deleteConfirm_btns{
  display: flex;
  align-items: center;
  gap: 25px;
  width: fit-content;
  margin-left: auto;
  margin-top: 40px;
}

.deleteConfirm_btns .delCancel{
  border: 1px solid rgb(86, 86, 86);
  background-color: white;
  color: black;
  font-size: 13px;
  font-weight: 700;
  padding: 7px 20px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.deleteConfirm_btns .delOk{
  background-color: #128454;
  color: white;
  font-size: 13px;
  font-weight: 600;
  padding: 7px 15px;
  border-radius: 18px;
  border: 1px solid #128454;
  display: flex;
  align-items: center;
  gap: 10px;
}
.deleteBoxIcon{
  color:white;
}


.apoointTable_status{
  position: relative;
}
.appStatus_head{
  display:flex;
  gap:15px;
  align-items: center;
  cursor: pointer;
}
.statusDropdown_tabel{
  width: fit-content;
  padding: 1 0;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  z-index: 999;
  min-width: 80px;
  cursor: pointer;

}
.statusDropdown_tabel>option{
  padding: 6px 20px !important;
  font-size: 12px;
  font-weight: 500;
  cursor:pointer;
  margin-bottom: 5px;
  cursor: pointer;

}
