.mainTable_container{
    width: 100%;
    margin: 1% 0 3% 0;
}

.table_list_wraper{
    display: table;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(219, 219, 219, 0.3);
    border-radius: 10px;
    padding: 20px 30px !important;

}


.table_list_wraper thead tr th{
    font-size: 12px;
    font-weight: 600;
    padding:10px 15px;
    color: rgba(34, 34, 34, 0.5);
    text-align: start;
    font-family: 'Poppins';
    min-width: 80px;

}
 .table_list_wraper tbody tr td{
    text-align: start;
    font-size: 12px;
    padding: 8px 15px 8px 15px;
    color: #666666;
    font-family: 'Poppins';
    font-weight: 400;


}
.table_list_wraper tbody tr td:first-child{
color: #666666;
font-weight: 600;
}